body {
    font-family: 'Poppins';
    background-color: #f0e6d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.componente {
    padding: 20px;
    background-color: #e0b895;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    width: 300px;
    border-radius: 0px 0px 8px 8px;
    box-sizing: border-box;
}

.componente h1 {
    color: #174a61;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 8px;
    border: 1px solid #f0e6d2;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins'; /* Fonte Poppins */
    background-color: #f0e6d2; /* Cor de fundo alterada */
    outline: none; /* Remove o contorno padrão */
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: 2px solid #d59d6c; /* Adiciona um contorno preto */
}

button {
    font-family: 'Poppins';
    width: 100%;
    padding: 12px 20px;
    background-color: #174a61;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #173d4f;
}

:root {
    --cor-fundo: #e0b895;
    --cor-pag: #f2efec;
    --cor-menu: #174a61;
    --cor-textomenu: #f5f5f5;
    --cor-caixa: #E6D4C4;
}
