/* Configurações de cores do site */
:root {
    --cor-fundo: #e0b895;
    --cor-pag: #f2efec;
    --cor-menu: #174a61;
    --cor-textomenu: #f5f5f5;
    --cor-caixa: #E6D4C4;
}

/* Definições de estilo */
body {
    background-color: var(--cor-fundo);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Estilo para o link */
.pawsafety {
    display: inline-block; /* Para garantir que a margem funcione corretamente */
}

/* Estilo para a imagem dentro do link */
.pawsafety img.logo {
    margin-right: 10px; /* Adiciona margem à direita da imagem */
    margin-bottom: 3px; /* Subtrai um pouco da margem inferior para mover a imagem para cima */
}


.menu {
    width: 100%;
    background-color: var(--cor-menu);
    padding: 1.5%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    font-weight: 400;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu a {
    text-decoration: none;
    margin-right: 1.25rem;
    color: var(--cor-textomenu);
}

.menu .pawsafety {
    font-size: 1.875rem;
    font-weight: bold;
}

.logo, .icone-user {
    vertical-align: bottom;
}

.rodape {
    background-color: var(--cor-menu);
    color: var(--cor-textomenu);
    text-align: center;
    padding: 1%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    font-weight: 400;
}

/*DESIGN HOME*/
.corpo, .corpoh, .corpocont, .corposobre {
    background-color: var(--cor-menu);
    width: 95% ;
    margin: 2% auto;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    min-height: 100vh;
}

.section-wrapper {
    position: relative;
    margin-bottom: 2rem; /* Adiciona espaço entre as imagens */
}

/* CONTANEIRS DE TEXTO */
.text-container1 {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
}
.text-container2 {
    position: absolute;
    top: 45%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: justify;
    padding: 1rem;
    border-radius: 10px;
}
.text-container3 {
    position: absolute;
    top: 46%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
}
.text-container4 {
    position: absolute;
    top: 45%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
}
.text-container5 {
    position: absolute;
    top: 47%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    /*background: rgba(0, 0, 0, 0.5);*/
    padding: 1rem;
    border-radius: 10px;
}

.saiba1, .saiba2, .saiba3, .saiba4 {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}

/* Botões */
button {
    background-color: var(--cor-menu);
    color: var(--cor-textomenu);
    border: none;
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #143848; /* Cor de hover */
}

/* Responsividade */
@media (max-width: 768px) {
    .menu a {
        display: block;
        margin: 0.5rem 0;
    }

    .menu {
        text-align: left;
        padding: 1rem;
    }

    h1, h2 {
        position: static;
        margin: 1rem 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .saibamais, .queroajudar, .querocomprar, .queroconhecer, .entrecontato {
        position: static;
        margin: 1rem auto;
        display: block;
        padding: 0.75rem 1.5rem; /* Tamanho do botão em tela reduzida */
    }

    .contato {
        width: 80%;
        height: auto;
        margin: 1rem auto;
    }

    .perfil, .perfil2, .perfil3, .fotoloja, .fotoloja2, .fotoloja3, .fotoloja4, .fotoloja5, .fotoloja6, .linkedin, .linkedin2, .linkedin3 {
        width: 50%;
        height: auto;
        top: auto;
        margin: 1rem auto;
    }

    p1 {
        margin: 1rem auto;
        font-size: 1rem;
    }

    .text-container {
        padding: 0.5rem;
    }

    .text-container h1, .text-container h2, .text-container h4, .text-container h5, .text-container h6 {
        font-size: 1rem;
    }
}

/* Corpo do home */
h1 {
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

h2{
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

/* Adicionar responsividade para os textos */
@media (max-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .saibamais, .queroajudar, .querocomprar, .queroconhecer, .entrecontato {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .contato {
        height: auto;
        padding: 1rem;
    }

    .perfil, .perfil2, .perfil3, .fotoloja, .fotoloja2, .fotoloja3, .fotoloja4, .fotoloja5, .fotoloja6, .linkedin, .linkedin2, .linkedin3 {
        width: 30%;
        height: auto;
        top: auto;
        margin: 1rem auto;
    }

    p1, p2 {
        font-size: 1rem;
        margin: 1rem auto;
    }
}

/* Corpo contato */
.container, .container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contato p {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 35%;
}

/* CSS para a página de anúncios */

/* Container de anúncios */
.anuncios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

/* Cada anúncio */
.anuncio {
    background-color: var(--cor-caixa);
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.anuncio-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.anuncio h2 {
    color: var(--cor-menu);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
}

.anuncio p {
    color: var(--cor-menu);
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
}

/* Responsividade para a página de anúncios */
@media (max-width: 768px) {
    .anuncio {
        width: 90%;
    }
}


/* Adicione o CSS específico para a página de Anunciar aqui */

/* Formulário de Anunciar */
.anunciar-form {
    background-color: var(--cor-menu);
    padding: 2rem;
    color:var(--cor-textomenu);
    border-radius: 20px;
    margin: 2rem auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.anunciar-form h1 {
    color: var(--cor-pag);
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.anunciar-form label {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.anunciar-form input[type="text"],
.anunciar-form input[type="tel"],
.anunciar-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    background-color: var(--cor-caixa);
    border: 1px solid #ccc;
}

.anunciar-form textarea {
    height: 100px;
    background-color: var(--cor-caixa);
}

.anunciar-form button {
    background-color: var(--cor-pag);
    color: var(--cor-menu);
    border: none;
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}

.anunciar-form button:hover {
    background-color: #143848; /* Cor de hover */
}
